openapi: 3.0.0
info:
  title: Sellar Integrations API
  description: "This is a documentation for Sellar integrations. You will need a supplier activated API key `SLR.xyz` to test the authorization"
  contact:
    email: james@sellar.io
  version: "1.0"
servers:
  - url: https://api.sellar.io
    description: Production server (uses live data)
  - url: https://api-staging.sellar.io
    description: Staging server (uses test data)
tags:
  - name: integrations
    description: Secured token based requests (SLR.xyz)
paths:
  /orders:
    get:
      tags:
        - integrations
      operationId: orders_Get
      parameters:
        - name: limit
          in: query
          explode: false
          schema:
            type: number
            default: 25
        - name: offset
          in: query
          explode: false
          schema:
            type: number
            default: 0
        - name: order[]
          in: query
          explode: false
          allowReserved: true
          description: Include column and sort order "ASC" or "DESC" in the format as ["updatedAt","DESC"] where supported columns are, createdAt, updatedAt and confirmedAt
          schema:
            type: string
            format: string
            default: '["updatedAt","DESC"]'
      responses:
        "200":
          description: "Returns a list of orders"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderListType"
        "400":
          description: "Order does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
  /orders/{id}:
    get:
      tags:
        - integrations
      operationId: order_Get
      parameters:
        - name: id
          in: path
          required: true
          explode: false
          schema:
            type: number
      responses:
        "200":
          description: "Returns single order"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSingleType"
        "400":
          description: "Order does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
    put:
      tags:
        - integrations
      operationId: order_Update
      parameters:
        - name: id
          in: path
          required: true
          explode: false
          schema:
            type: number
      requestBody:
        description: View **request body schema** for details on accepted request format.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderUpdateRequestBody"

        required: true
      responses:
        "200":
          description: "Update to order succeeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSingleType"
        "201":
          description: "Update to order succeeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSingleType"
        "400":
          description: "Update to order failed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
  /products/{id}:
    get:
      tags:
        - integrations
      operationId: product_Get
      parameters:
        - name: id
          in: path
          required: true
          explode: false
          schema:
            type: number
      responses:
        "200":
          description: "Returns single product"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSingleType"
        "400":
          description: "Product does not exist"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
    put:
      tags:
        - integrations
      operationId: productcreate_Update
      parameters:
        - name: id
          in: path
          required: true
          explode: false
          schema:
            type: number
      requestBody:
        description: View **request body schema** for details on accepted request format.
        content:
          application/json:
            schema:
              type: object
              properties:
                stock:
                  type: number
                  description: "Cannot be defined with `availableStock`. This is the absolute stock level of the product on Sellar - if there is `committedStock` on Sellar it will be deducted from this value."
                availableStock:
                  type: number
                  description: "Cannot be defined with `stock`. This is the available stock on Sellar. It will be added to the `committedStock` level on Sellar to determine the correct `stock` value, which will be updated appropriately. This should only be used if orders are getting imported before they have been `confirmed`."

        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSingleType"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
  /products:
    get:
      tags:
        - integrations
      operationId: product_List
      parameters:
        - name: limit
          in: query
          required: true
          explode: false
          schema:
            type: number
            default: 25
        - name: offset
          in: query
          required: true
          explode: false
          schema:
            type: number
      responses:
        "200":
          description: List of products (default limit is 25)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListType"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
  /supplier-retailer-connections:
    get:
      tags:
        - integrations
      operationId: supplierretailerconnection_List
      summary: ""
      parameters:
        - name: limit
          in: query
          required: true
          explode: false
          schema:
            type: number
            default: 25
        - name: offset
          in: query
          required: true
          explode: false
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupplierRetailerConnectionListType"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
  /webhooks:
    get:
      tags:
        - integrations
      operationId: webhook_List
      summary: ""
      parameters:
        - name: limit
          in: query
          required: true
          explode: false
          schema:
            type: number
            default: 25
        - name: offset
          in: query
          required: true
          explode: false
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListType"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
    post:
      tags:
        - integrations
      operationId: webhook_Create
      parameters: []
      requestBody:
        description: "Create a webhook for supported types include: order.created, order.updated"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreateRequestBody"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSingleType"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []
  /webhooks/{id}:
    delete:
      tags:
        - integrations
      operationId: webhook_Delete
      parameters:
        - name: id
          in: path
          required: true
          explode: false
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSingleType"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HttpException"
      security:
        - bearer: []

components:
  schemas:
    HttpException:
      type: object
      properties: {}

    OrderUpdateRequestBody:
      type: object
      properties:
        # technically confirmedAt is supported, however this is not something that should be in the public domain. If updating order confirmedAt, cannot be provided concurrently with `dispatchedAt` or `deliveredAt`.
        dispatchedAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        dispatchPlannedAt:
          type: string
          format: date-time
          description: The `dispatchPlannedAt` property cannot be provided with dispatchedAt, deliveredAt or paidAt.
        deliveryPlannedAt:
          type: string
          format: date-time
          description: The `deliveryPlannedAt` property cannot be provided with dispatchedAt, deliveredAt or paidAt.
        customInvoiceNumber:
          type: string
          description: Once the order has been confirmed, this value can only be updated if the `customInvoiceNumber` has not already been defined on the order.

    OrderSingleType:
      required:
        - data
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
              format: int32
            SupplierId:
              type: integer
              format: int32
            RetailerId:
              type: integer
              format: int32
            DeliveryAddressId:
              type: integer
              format: int32
            InvoiceAddressId:
              type: integer
              format: int32
            deliveryPlannedAt:
              type: string
              format: date-time
            dispatchPlannedAt:
              type: string
              format: date-time
            dispatchedAt:
              type: string
              format: nullable
            deliveredAt:
              type: string
              format: nullable
            deliveryNotes:
              type: string
              format: nullable
            deliveryNumber:
              type: string
              format: nullable
            fulfillmentType:
              type: string
            paymentType:
              type: string
            paymentStatus:
              type: string
            paymentDue:
              type: string
              format: date-time
            paidAt:
              type: string
              format: nullable
            vatPercentage:
              type: integer
              format: int32
            cancelledAt:
              type: string
              format: date-time
            deniedAt:
              type: string
              format: nullable
            confirmedAt:
              type: string
              format: date-time
            deliveryCharge:
              type: integer
              format: int32
            discountAmount:
              type: integer
              format: int32
            price:
              type: integer
              format: int32
            customInvoiceNumber:
              type: string
              format: nullable
            currency:
              type: string
            hasNoDraughtDutyRelief:
              type: boolean
            voidedAt:
              type: string
              format: nullable
            invoiceIssuedAt:
              type: string
              format: nullable
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            deletedAt:
              type: string
              format: nullable
            type:
              type: string
            purchaseOrderNumber:
              type: string
              format: nullable
            finalizedAt:
              type: string
              format: nullable
            requestedPrice:
              type: string
              format: nullable
            acceptedAt:
              type: string
              format: date-time
            cancellationReason:
              type: string
            confirmed:
              type: string
              format: nullable
            DeliveryAddress:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                name:
                  type: string
                street:
                  type: string
                city:
                  type: string
                postalCode:
                  type: string
                region:
                  type: string
                country:
                  type: string
            InvoiceAddress:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                name:
                  type: string
                street:
                  type: string
                city:
                  type: string
                postalCode:
                  type: string
                region:
                  type: string
                country:
                  type: string
            OrderItems:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  deletedAt:
                    type: string
                    format: nullable
                  OrderId:
                    type: integer
                    format: int32
                  ProductId:
                    type: integer
                    format: int32
                  quantity:
                    type: integer
                    format: int32
                  discountable:
                    type: boolean
                  price:
                    type: integer
                    format: int32
                  fullPrice:
                    type: integer
                    format: int32
                  Product:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      deletedAt:
                        type: string
                        format: nullable
                      SupplierId:
                        type: integer
                        format: int32
                      ParentId:
                        type: integer
                        format: int32
                      stock:
                        type: integer
                        format: int32
                      active:
                        type: boolean
                      imageUrl:
                        type: string
                        format: nullable
                      heroImageUrl:
                        type: string
                        format: nullable
                      index:
                        type: integer
                        format: int32
                      glutenFree:
                        type: string
                        format: nullable
                      vegan:
                        type: string
                        format: nullable
                      lactoseFree:
                        type: string
                        format: nullable
                      canBackorder:
                        type: boolean
                      committedStock:
                        type: integer
                        format: int32
                      availableStock:
                        type: integer
                        format: int32
                      packQuantity:
                        type: integer
                        format: int32
                      volume:
                        type: integer
                        format: int32
                      containerType:
                        type: string
                      weight:
                        type: string
                        format: nullable
                      type:
                        type: string
                      lexoRank:
                        type: string
                      sku:
                        type: string
                      name:
                        type: string
                      displayUnit:
                        type: string
                      Properties:
                        type: array
                        items:
                          type: object
                          properties:
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            key:
                              type: string
                            value:
                              type: string
                            type:
                              type: string
                            ObjectId:
                              type: integer
                              format: int32
                      Parent:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          description:
                            type: string
                          kind:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: nullable
                          stock:
                            type: integer
                            format: int32
                          active:
                            type: boolean
                          imageUrl:
                            type: string
                          heroImageUrl:
                            type: string
                            format: nullable
                          index:
                            type: integer
                            format: int32
                          glutenFree:
                            type: boolean
                          vegan:
                            type: boolean
                          lactoseFree:
                            type: boolean
                          canBackorder:
                            type: boolean
                          committedStock:
                            type: integer
                            format: int32
                          availableStock:
                            type: integer
                            format: int32
                          new:
                            type: boolean
                          abv:
                            type: number
                          type:
                            type: string
                          lexoRank:
                            type: string
                          ParentId:
                            type: string
                            format: nullable
                          SupplierId:
                            type: integer
                            format: int32
                          sku:
                            type: string
                          name:
                            type: string
                          Properties:
                            type: array
                            items:
                              type: object
                              properties:
                                createdAt:
                                  type: string
                                  format: date-time
                                updatedAt:
                                  type: string
                                  format: date-time
                                key:
                                  type: string
                                value:
                                  type: string
                                type:
                                  type: string
                                ObjectId:
                                  type: integer
                                  format: int32
            Retailer:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                hasNoDraughtDutyRelief:
                  type: boolean
                type:
                  type: string
                BusinessId:
                  type: integer
                  format: int32
                paymentPreference:
                  type: string
                Business:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    contactName:
                      type: string
                      format: nullable
                    companyNumber:
                      type: string
                    awrsNumber:
                      type: string
                    name:
                      type: string
                    logoUrl:
                      type: string
                    email:
                      type: string
                    entityType:
                      type: string
                    invoiceEmail:
                      type: string
                    phoneNumber:
                      type: string
                    vatNumber:
                      type: string
                    websiteUrl:
                      type: string
                    DeliveryAddress:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        name:
                          type: string
                        street:
                          type: string
                        city:
                          type: string
                        postalCode:
                          type: string
                        region:
                          type: string
                        country:
                          type: string
                    InvoiceAddress:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        name:
                          type: string
                        street:
                          type: string
                        city:
                          type: string
                        postalCode:
                          type: string
                        region:
                          type: string
                        country:
                          type: string
            Supplier:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                invoicesEnabled:
                  type: boolean
                invoiceCCEmail:
                  type: string
                invoiceCreationStage:
                  type: string
                imageUrl:
                  type: string
                description:
                  type: string
                urlId:
                  type: string
                vatPercentage:
                  type: integer
                  format: int32
                currency:
                  type: string
                Business:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    contactName:
                      type: string
                      format: nullable
                    companyNumber:
                      type: string
                    awrsNumber:
                      type: string
                      format: nullable
                    name:
                      type: string
                    logoUrl:
                      type: string
                    email:
                      type: string
                    entityType:
                      type: string
                    invoiceEmail:
                      type: string
                    phoneNumber:
                      type: string
                    vatNumber:
                      type: string
                    websiteUrl:
                      type: string
                    DeliveryAddress:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        name:
                          type: string
                        street:
                          type: string
                        city:
                          type: string
                        postalCode:
                          type: string
                        region:
                          type: string
                        country:
                          type: string
                    InvoiceAddress:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        name:
                          type: string
                        street:
                          type: string
                        city:
                          type: string
                        postalCode:
                          type: string
                        region:
                          type: string
                        country:
                          type: string

    OrderListType:
      required:
        - data
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
              SupplierId:
                type: integer
                format: int32
              RetailerId:
                type: integer
                format: int32
              DeliveryAddressId:
                type: integer
                format: int32
              InvoiceAddressId:
                type: integer
                format: int32
              deliveryPlannedAt:
                type: string
                format: date-time
              dispatchPlannedAt:
                type: string
                format: date-time
              dispatchedAt:
                type: string
                format: nullable
              deliveredAt:
                type: string
                format: nullable
              deliveryNotes:
                type: string
                format: nullable
              deliveryNumber:
                type: string
                format: nullable
              fulfillmentType:
                type: string
              paymentType:
                type: string
              paymentStatus:
                type: string
              paymentDue:
                type: string
                format: date-time
              paidAt:
                type: string
                format: nullable
              vatPercentage:
                type: integer
                format: int32
              cancelledAt:
                type: string
                format: date-time
              deniedAt:
                type: string
                format: nullable
              confirmedAt:
                type: string
                format: date-time
              deliveryCharge:
                type: integer
                format: int32
              discountAmount:
                type: integer
                format: int32
              price:
                type: integer
                format: int32
              customInvoiceNumber:
                type: string
                format: nullable
              currency:
                type: string
              hasNoDraughtDutyRelief:
                type: boolean
              voidedAt:
                type: string
                format: nullable
              invoiceIssuedAt:
                type: string
                format: nullable
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              deletedAt:
                type: string
                format: nullable
              type:
                type: string
              purchaseOrderNumber:
                type: string
                format: nullable
              finalizedAt:
                type: string
                format: nullable
              requestedPrice:
                type: string
                format: nullable
              acceptedAt:
                type: string
                format: date-time
              cancellationReason:
                type: string
              confirmed:
                type: string
                format: nullable

              DeliveryAddress:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  name:
                    type: string
                  street:
                    type: string
                  city:
                    type: string
                  postalCode:
                    type: string
                  region:
                    type: string
                  country:
                    type: string
              InvoiceAddress:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  name:
                    type: string
                  street:
                    type: string
                  city:
                    type: string
                  postalCode:
                    type: string
                  region:
                    type: string
                  country:
                    type: string
              OrderItems:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    deletedAt:
                      type: string
                      format: nullable
                    OrderId:
                      type: integer
                      format: int32
                    ProductId:
                      type: integer
                      format: int32
                    quantity:
                      type: integer
                      format: int32
                    discountable:
                      type: boolean
                    price:
                      type: integer
                      format: int32
                    fullPrice:
                      type: integer
                      format: int32
              Retailer:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  hasNoDraughtDutyRelief:
                    type: boolean
                  type:
                    type: string
                  BusinessId:
                    type: integer
                    format: int32
                  paymentPreference:
                    type: string
                  Business:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      contactName:
                        type: string
                        format: nullable
                      companyNumber:
                        type: string
                      awrsNumber:
                        type: string
                      name:
                        type: string
                      logoUrl:
                        type: string
                      email:
                        type: string
                      entityType:
                        type: string
                      invoiceEmail:
                        type: string
                      phoneNumber:
                        type: string
                      vatNumber:
                        type: string
                      websiteUrl:
                        type: string
                      DeliveryAddress:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          name:
                            type: string
                          street:
                            type: string
                          city:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                          country:
                            type: string
                      InvoiceAddress:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          name:
                            type: string
                          street:
                            type: string
                          city:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                          country:
                            type: string
              Supplier:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  invoicesEnabled:
                    type: boolean
                  invoiceCCEmail:
                    type: string
                  invoiceCreationStage:
                    type: string
                  imageUrl:
                    type: string
                  description:
                    type: string
                  urlId:
                    type: string
                  vatPercentage:
                    type: integer
                    format: int32
                  currency:
                    type: string
                  Business:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      contactName:
                        type: string
                        format: nullable
                      companyNumber:
                        type: string
                      awrsNumber:
                        type: string
                        format: nullable
                      name:
                        type: string
                      logoUrl:
                        type: string
                      email:
                        type: string
                      entityType:
                        type: string
                      invoiceEmail:
                        type: string
                      phoneNumber:
                        type: string
                      vatNumber:
                        type: string
                      websiteUrl:
                        type: string
                      DeliveryAddress:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          name:
                            type: string
                          street:
                            type: string
                          city:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                          country:
                            type: string
                      InvoiceAddress:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          name:
                            type: string
                          street:
                            type: string
                          city:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                          country:
                            type: string

    ProductUpdateRequestBody:
      required:
        - data
      type: object
      properties:
        stock:
          type: number
          description: "Cannot be defined with `availableStock`. This is the absolute stock level of the product on Sellar - if there is `committedStock` on Sellar it will be deducted from this value."
        availableStock:
          type: number
          description: "Cannot be defined with `stock`. This is the available stock on Sellar. It will be added to the `committedStock` level on Sellar to determine the correct `stock` value, which will be updated appropriately. This should only be used if orders are getting imported before they have been `confirmed`."

    ProductSingleType:
      required:
        - data
      type: object
      properties:
        id:
          type: integer
          format: int32
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deletedAt:
          type: string
          format: nullable
        SupplierId:
          type: integer
          format: int32
        ParentId:
          type: integer
          format: int32
        stock:
          type: integer
          format: int32
        active:
          type: boolean
        imageUrl:
          type: string
          format: nullable
        heroImageUrl:
          type: string
          format: nullable
        index:
          type: integer
          format: int32
        glutenFree:
          type: string
          format: nullable
        vegan:
          type: string
          format: nullable
        lactoseFree:
          type: string
          format: nullable
        canBackorder:
          type: boolean
        committedStock:
          type: integer
          format: int32
        availableStock:
          type: integer
          format: int32
        packQuantity:
          type: string
          format: nullable
        volume:
          type: string
          format: nullable
        containerType:
          type: string
          format: nullable
        weight:
          type: string
          format: nullable
        type:
          type: string
        lexoRank:
          type: string
        sku:
          type: string
        name:
          type: string
        displayUnit:
          type: string
          format: nullable
        Properties:
          type: array
          items:
            type: object
            properties:
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              key:
                type: string
              value:
                type: string
              type:
                type: string
              ObjectId:
                type: integer
                format: int32
        Parent:
          type: object
          properties:
            id:
              type: integer
              format: int32
            description:
              type: string
            kind:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            deletedAt:
              type: string
              format: nullable
            stock:
              type: integer
              format: int32
            active:
              type: boolean
            imageUrl:
              type: string
              format: nullable
            heroImageUrl:
              type: string
              format: nullable
            index:
              type: integer
              format: int32
            glutenFree:
              type: boolean
            vegan:
              type: boolean
            lactoseFree:
              type: boolean
            canBackorder:
              type: boolean
            committedStock:
              type: integer
              format: int32
            availableStock:
              type: integer
              format: int32
            new:
              type: boolean
            abv:
              type: number
            type:
              type: string
            lexoRank:
              type: string
            ParentId:
              type: string
              format: nullable
            SupplierId:
              type: integer
              format: int32
            sku:
              type: string
            name:
              type: string
            Properties:
              type: array
              items:
                type: object
                properties:
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  key:
                    type: string
                  value:
                    type: string
                  type:
                    type: string
                  ObjectId:
                    type: integer
                    format: int32

    ProductListType:
      required:
        - data
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              deletedAt:
                type: string
                format: nullable
              SupplierId:
                type: integer
                format: int32
              ParentId:
                type: integer
                format: int32
              stock:
                type: integer
                format: int32
              active:
                type: boolean
              imageUrl:
                type: string
                format: nullable
              heroImageUrl:
                type: string
                format: nullable
              index:
                type: integer
                format: int32
              glutenFree:
                type: string
                format: nullable
              vegan:
                type: string
                format: nullable
              lactoseFree:
                type: string
                format: nullable
              canBackorder:
                type: boolean
              committedStock:
                type: integer
                format: int32
              availableStock:
                type: integer
                format: int32
              packQuantity:
                type: string
                format: nullable
              volume:
                type: string
                format: nullable
              containerType:
                type: string
                format: nullable
              weight:
                type: string
                format: nullable
              type:
                type: string
              lexoRank:
                type: string
              sku:
                type: string
              name:
                type: string
              displayUnit:
                type: string
                format: nullable
              Properties:
                type: array
                items:
                  type: object
                  properties:
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    key:
                      type: string
                    value:
                      type: string
                    type:
                      type: string
                    ObjectId:
                      type: integer
                      format: int32
              Parent:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  description:
                    type: string
                  kind:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  deletedAt:
                    type: string
                    format: nullable
                  stock:
                    type: integer
                    format: int32
                  active:
                    type: boolean
                  imageUrl:
                    type: string
                    format: nullable
                  heroImageUrl:
                    type: string
                    format: nullable
                  index:
                    type: integer
                    format: int32
                  glutenFree:
                    type: boolean
                  vegan:
                    type: boolean
                  lactoseFree:
                    type: boolean
                  canBackorder:
                    type: boolean
                  committedStock:
                    type: integer
                    format: int32
                  availableStock:
                    type: integer
                    format: int32
                  new:
                    type: boolean
                  abv:
                    type: number
                  type:
                    type: string
                  lexoRank:
                    type: string
                  ParentId:
                    type: string
                    format: nullable
                  SupplierId:
                    type: integer
                    format: int32
                  sku:
                    type: string
                  name:
                    type: string
                  Properties:
                    type: array
                    items:
                      type: object
                      properties:
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        key:
                          type: string
                        value:
                          type: string
                        type:
                          type: string
                        ObjectId:
                          type: integer
                          format: int32

    SupplierRetailerConnectionListType:
      required:
        - data
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              deletedAt:
                type: string
                format: nullable
              SupplierId:
                type: integer
                format: int32
              RetailerId:
                type: integer
                format: int32
              PriceTierId:
                type: integer
                format: int32
              initiator:
                type: string
              approved:
                type: boolean
              customerCode:
                type: string
                format: nullable
              notes:
                type: string
                format: nullable
              paymentDue:
                type: string
                format: nullable
              fulfillmentType:
                type: string
              existingCustomer:
                type: string
                format: nullable
              mailingListPermission:
                type: string
                format: nullable
              Retailer:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  hasNoDraughtDutyRelief:
                    type: boolean
                  type:
                    type: string
                  BusinessId:
                    type: integer
                    format: int32
                  Business:
                    type: object
                    properties:
                      contactName:
                        type: string
                        format: nullable
                      companyNumber:
                        type: string
                      awrsNumber:
                        type: string
                        format: nullable
                      id:
                        type: integer
                        format: int32
                      name:
                        type: string
                      logoUrl:
                        type: string
                      email:
                        type: string
                      entityType:
                        type: string
                      invoiceEmail:
                        type: string
                      phoneNumber:
                        type: string
                      vatNumber:
                        type: string
                        format: nullable
                      DeliveryAddress:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          name:
                            type: string
                          street:
                            type: string
                          city:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                          country:
                            type: string
                      InvoiceAddress:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          name:
                            type: string
                          street:
                            type: string
                          city:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                          country:
                            type: string
              Supplier:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  invoicesEnabled:
                    type: boolean
                  description:
                    type: string
                  invoiceCreationStage:
                    type: string
                  imageUrl:
                    type: string
                  invoiceCCEmail:
                    type: string
                  Business:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      name:
                        type: string
                      logoUrl:
                        type: string

    WebhookCreateRequestBody:
      required:
        - data
      type: object
      properties:
        type:
          type: string
        url:
          type: string

    WebhookSingleType:
      required:
        - data
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
              format: int32
            type:
              type: string
            url:
              type: string
            createdAt:
              type: string
              format: date-time
            deletedAt:
              type: string
              format: nullable

    WebhookListType:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
              type:
                type: string
              url:
                type: string
              createdAt:
                type: string
                format: date-time
              deletedAt:
                type: string
                format: nullable

  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: API Key (SLR.xyz)
