---
openapi: 3.0.0
info:
  title: Sellar Integrations API
  description: "This is a documentation for Sellar integrations. You will need a supplier activated API key `SLR.xyz` to test the authorization"
  contact:
    email: james@sellar.io
  version: "1.0"
servers:
- url: https://api.sellar.io
  description: Production server (uses live data)
- url: https://api-staging.sellar.io
  description: Staging server (uses test data)
tags:
- name: integrations
  description: Secured token based requests (SLR.xyz)
paths:
  /orders:
    get:
      tags:
      - integrations
      operationId: order_Get
      parameters:
      - name: limit
        in: query
        style: simple
        explode: false
        default: 25
        schema:
          type: number
      - name: offset
        in: query
        style: simple
        explode: false
        schema:
          type: number
      - name: order
        in: query
        style: simple
        explode: false
        schema:
          type: string
        description: Include column and sort order "ASC" or "DESC" in the format as ?order[]=["updatedAt","DESC"]
      responses:
        "200":
          description: "Returns a list of orders"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListType'
        "400":
          description: "Order does not exist"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
  /orders/{id}:
    get:
      tags:
      - integrations
      operationId: order_Get
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: "Returns single order"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGetType'
        "400":
          description: "Order does not exist"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
    put:
      tags:
      - integrations
      operationId: order_Update
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      requestBody:
        description: Data for entity Order
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
        required: true
      responses:
        "200":
          description: "Update to order succeeded"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOrUpdateType'
        "201":
          description: "Update to order succeeded"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOrUpdateType'
        "400":
          description: "Update to order failed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
  /products/{id}:
    get:
      tags:
      - integrations
      operationId: product_Get
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: "Returns single product"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGetType'
        "400":
          description: "Product does not exist"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
    put:
      tags:
      - integrations
      operationId: productcreate_Update
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      requestBody:
        description: Data for entity ProductCreate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateOrUpdateType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCreateOrUpdateType'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
  /products:
    get:
      tags:
      - integrations
      operationId: product_List
      parameters:
      - name: limit
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: offset
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: List of products (default limit is 25)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListType'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
  /supplier-retailer-connections:
    get:
      tags:
        - integrations
      operationId: supplierretailerconnection_List
      summary: ''
      title: ''
      parameters:
      - name: limit
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: offset
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierRetailerConnectionListType'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
        - bearer: [ ]
  /webhooks/{id}:
    delete:
      tags:
      - integrations
      operationId: webhook_Delete
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
  /webhooks:
    post:
      tags:
      - integrations
      operationId: webhook_Create
      parameters: []
      requestBody:
        description: 'Create a webhook for supported types include: order.created, order.updated'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateOrUpdateType'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpException'
      security:
      - bearer: []
components:
  schemas:
    Address:
      type: object
      properties:
        id:
          type: number
        type:
          type: string
        name:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
    OrderCreate:
      required:
      - DeliveryAddress
      - DeliveryAddressId
      - InvoiceAddress
      - InvoiceAddressId
      - OrderComments
      - OrderItems
      - PriceTierId
      - RetailerId
      - SupplierId
      - cancelledAt
      - confirmed
      - confirmedAt
      - deliveredAt
      - deliveryCharge
      - deliveryNotes
      - deliveryPlannedAt
      - deniedAt
      - dispatchPlannedAt
      - dispatchedAt
      - fulfillmentType
      - paidAt
      - paymentDue
      - paymentStatus
      - paymentType
      - stripeInvoiceId
      - stripePaymentIntentId
      - vatPercentage
      type: object
      properties:
        id:
          type: number
        PriceTierId:
          type: number
        SupplierId:
          type: number
        RetailerId:
          type: number
        OrderDiscounts:
          type: array
          items:
            type: string
        OrderItems:
          type: array
          items:
            type: string
        DeliveryAddressId:
          type: number
        InvoiceAddressId:
          type: number
        deliveryPlannedAt:
          type: string
          format: date-time
        dispatchPlannedAt:
          type: string
          format: date-time
        dispatchedAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        deliveryNotes:
          type: string
        fulfillmentType:
          type: object
        paymentType:
          type: object
        paymentStatus:
          type: object
        paymentDue:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        stripeInvoiceId:
          type: string
        vatPercentage:
          type: number
        cancelledAt:
          type: string
          format: date-time
        deniedAt:
          type: string
          format: date-time
        confirmedAt:
          type: string
          format: date-time
        confirmed:
          type: boolean
        deliveryCharge:
          type: number
        stripePaymentIntentId:
          type: string
        DeliveryAddress:
          $ref: '#/components/schemas/Address'
        InvoiceAddress:
          $ref: '#/components/schemas/Address'
        OrderComments:
          type: array
          items:
            type: string
    HttpException:
      type: object
      properties: {}
    Business:
      type: object
      properties:
        name:
          type: string
    Supplier:
      required:
      - Business
      - BusinessId
      - DefaultPriceTier
      - DefaultPriceTierId
      - PriceTier
      - currency
      type: object
      properties:
        id:
          type: number
        BusinessId:
          type: number
        Business:
          $ref: '#/components/schemas/Business'
        DefaultPriceTierId:
          type: number
        DefaultPriceTier:
          $ref: '#/components/schemas/PriceTier'
        description:
          type: string
        imageUrl:
          type: string
        checkoutNotes:
          type: string
        showStock:
          type: boolean
        vatPercentage:
          type: number
        transactionFee:
          type: number
        stripeAccountId:
          type: string
        SupplierPaymentInformation:
          type: object
        PriceTier:
          $ref: '#/components/schemas/PriceTier'
        currency:
          type: object
    SupplierRetailerConnectionListType:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SupplierRetailerConnection'
        metadata:
          type: object
      required:
        - data
        - metadata
    SupplierRetailerConnection:
      type: object
      properties:
        SupplierId:
          type: number
        Supplier:
          $ref: '#/components/schemas/Supplier'
        RetailerId:
          $ref: '#/components/schemas/Retailer'
        Retailer:
          $ref: '#/components/schemas/Retailer'
        PriceTierId:
          type: number
        PriceTier:
          $ref: '#/components/schemas/PriceTier'
        initiator:
          type: string
        approved:
          type: boolean
          description: Whether the connection has been accepted, this should be true for active customers
        stripeCustomerId:
          type: string
        customerCode:
          type: string
        notes:
          type: string
        paymentType:
          type: string
        paymentDue:
          type: number
          description: Days until payment due after an order is placed
        deliveryCharge:
          type: number
        fulfillmentType:
          type: string
        existingCustomer:
          type: boolean
        mailingListPermission:
          type: boolean
      required:
        - SupplierId
        - Supplier
        - RetailerId
        - Retailer
        - PriceTierId
        - PriceTier
        - initiator
        - approved
        - stripeCustomerId
        - customerCode
        - notes
        - Comments
        - paymentType
        - paymentDue
        - deliveryCharge
        - fulfillmentType
        - existingCustomer
        - mailingListPermission
        - acceptLink
    PriceTierOrderRule:
      type: object
      properties: {}
    PriceTierDiscount:
      type: object
      properties: {}
    ProductPriceTier:
      type: object
      properties: {}
    PriceTier:
      required:
      - Discounts
      - PriceTierOrderRules
      - ProductPriceTiers
      - Supplier
      - SupplierId
      - minimumOrderPrice
      - name
      type: object
      properties:
        id:
          type: number
        SupplierId:
          type: number
        Supplier:
          $ref: '#/components/schemas/Supplier'
        name:
          type: string
        PriceTierOrderRules:
          type: array
          items:
            $ref: '#/components/schemas/PriceTierOrderRule'
        Discounts:
          type: array
          items:
            $ref: '#/components/schemas/PriceTierDiscount'
        ProductPriceTiers:
          type: array
          items:
            $ref: '#/components/schemas/ProductPriceTier'
        minimumOrderPrice:
          type: number
    Order:
      required:
      - id
      - DeliveryAddress
      - DeliveryAddressId
      - InvoiceAddress
      - InvoiceAddressId
      - OrderComments
      - OrderDiscounts
      - OrderItems
      - PriceTier
      - PriceTierId
      - Retailer
      - RetailerId
      - Supplier
      - SupplierId
      - cancelledAt
      - confirmedAt
      - currency
      - customInvoiceNumber
      - deliveredAt
      - deliveryCharge
      - deliveryNotes
      - deliveryNumber
      - deliveryPlannedAt
      - deniedAt
      - discountAmount
      - dispatchPlannedAt
      - dispatchedAt
      - fulfillmentType
      - initiator
      - paidAt
      - paymentDue
      - paymentStatus
      - paymentType
      - stripeInvoiceId
      - stripePaymentIntentId
      - vatPercentage
      type: object
      properties:
        id: 
          type: number
        PriceTierId:
          type: number
        PriceTier:
          $ref: '#/components/schemas/PriceTier'
        SupplierId:
          type: number
        Supplier:
          $ref: '#/components/schemas/Supplier'
        RetailerId:
          type: number
        OrderDiscounts:
          type: array
        OrderComments:
          type: array
          items:
            $ref: '#/components/schemas/OrderComment'
        OrderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        DeliveryAddressId:
          type: number
        DeliveryAddress:
          $ref: '#/components/schemas/Address'
        InvoiceAddressId:
          type: number
        InvoiceAddress:
          $ref: '#/components/schemas/Address'
        deliveryPlannedAt:
          type: string
          format: date-time
        dispatchPlannedAt:
          type: string
          format: date-time
        dispatchedAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        deliveryNotes:
          type: string
        deliveryNumber:
          type: string
        fulfillmentType:
          type: string
        paymentType:
          type: string
        paymentStatus:
          type: object
        paymentDue:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        stripeInvoiceId:
          type: string
        vatPercentage:
          type: number
        transactionFee:
          type: number
        cancelledAt:
          type: string
          format: date-time
        deniedAt:
          type: string
          format: date-time
        confirmedAt:
          type: string
          format: date-time
        deliveryCharge:
          type: number
        discountAmount:
          type: number
        price:
          type: number
        customInvoiceNumber:
          type: string
        stripePaymentIntentId:
          type: string
        currency:
          type: string
        link:
          type: string
    OrderListType:
      required:
      - data
      - metadata
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        metadata:
          type: object
    OrderCreateOrUpdateType:
      required:
      - data
      - metadata
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Order'
        metadata:
          type: object
    OrderGetType:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Order'
    OrderComment:
      type: object
      properties:
        id:
          type: number
        ObjectId:
          type: number
        BusinessUserId:
           type: number
        message:
          type: string
      required:
        - ObjectId
        - BusinessUserId
        - BusinessUser
        - message
    OrderItem:
      type: object
      properties:
        OrderId:
          type: number
        ProductId:
          type: number
        Product:
          $ref: '#/components/schemas/Product'
        ProductPriceTierHistoryId:
          type: number
        quantity:
          type: number
        discountable:
          type: boolean
        price:
          type: number
      required:
        - OrderId
        - ProductId
        - Product
        - ProductPriceTierHistoryId
        - ProductPriceTierHistory
        - quantity
        - discountable
        - price
    Product:
      required:
      - Properties
      - SupplierId
      - active
      - heroImageUrl
      - imageUrl
      - index
      - stock
      type: object
      properties:
        id:
          type: number
        SupplierId:
          type: number
        ParentId:
          type: number
        Properties:
          type: array
          items:
            type: string
        PropertiesHistory:
          type: array
          items:
            type: string
        stock:
          type: number
        active:
          type: boolean
        imageUrl:
          type: string
        heroImageUrl:
          type: string
        index:
          type: number
        sku:
          type: string
    ProductCreateOrUpdateType:
      required:
      - data
      - metadata
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Product'
        metadata:
          type: object
    ProductListType:
      required:
      - data
      - metadata
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        metadata:
          type: object
    ProductGetType:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Product'
    Webhook:
      type: object
      properties:
        id:
          type: number
        deletedAt:
          type: string
          format: date-time
        type:
          type: string
        url:
          type: string
    WebhookCreateOrUpdateType:
      required:
      - data
      - metadata
      type: object
      properties:
        type:
          type: string
        url:
          type: string
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: API Key (SLR.xyz)
